.jobTitle {
    color: hsl(180, 14%, 20%) !important;

}

.jobTitleHover {
    color: hsl(180, 8%, 52%);
}

.showSideSelect {
    width: 0.5rem;
}

.hideSideSelect {
    width: 0rem;
}

.tablet {
    background-color: hsl(180, 31%, 95%);
}

.filterArea {
    display: flex;
    align-items: center;
    width: 70%;
    height: 4rem;
    position: absolute;
    top: 8rem;
}

.filterTablet {
    display: flex;
    width: max-content;
    height: max-content;
    background-color: hsl(180, 31%, 95%) !important;
    margin-left: 2rem;
}

.filterTextArea {
    padding: .6rem .0rem .6rem .6rem;
}

.removeIconArea {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(180, 8%, 52%) !important;
    min-width: 3rem !important;
    min-height: 100% !important;
    margin-left: 1rem !important;
}

.removeIconArea:hover {
    background-color: hsl(180, 14%, 20%) !important;
    transition: background-color 0.2s ease-in-out;
}

.removeIcon {
    margin-left: 1rem;
}

.hide {
    display: none;
}